.board {
    margin:auto;
    display: table;
    border-top:1px black solid;
    border-left:1px black solid;
}

.board-row {
    margin:0px;
    padding:0px;
    line-height: 0px;
}
.board-field {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px;
    border-right:1px black solid;
    border-bottom:1px black solid;
    cursor:pointer;
}

.board-field.white {
    background-color: #e8e8e8;
}
.board-field.black {
    background-color: gray;
}

.fixed-message-container {
    padding: 50px;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position: fixed;
    background-color: rgba(100,100,100,0.5);
}
.fixed-message-content {
    padding: 50px;
    width:500px;;
    margin:auto;
    background-color: #d7d7d7;
    border-radius:5px;
    border:2px #4b4f54 solid;
    box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.75);
}